//- modal
mixin modal(title,id1)
  .modal.fade(id=id1,tabindex="-1",role="dialog",aria-labelledby=id1+"Label" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          h4.modal-title(id=id1+"Label")= title
        .modal-body
          block
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Close