extends layout

block content
  section.pt-4
    .container.px-lg-5
      // Page Features
      // Section 1
      .card.mb-4(style="width: 100%;")
        .card-body.text-center
          h1.text_color.text-6.mb-3.lg-mb-4.mt-3(style="font-family:IRANSansWebBold;") Test
          p.mt-0.text_color(style="line-height: 2rem;color: #4e4a67;") Test


        source(data-src='../videos/preroll.webm' type='video/webm')
        source(data-src='../videos/preroll.mp4' type='video/mp4')
